        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'trainingTabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'{{'trainingTabPan' | translate}}' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-6">
                                                    <label for="1">{{'trainingCode' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'trainingCode' | translate}}" id="1" [(ngModel)]="item.code"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validTrainingCode}"  />
                                                    <small class='p-error' *ngIf='!validTrainingCode'>Code est obligatoire.</small>
                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="2">{{'trainingLibelle' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'trainingLibelle' | translate}}" id="2" [(ngModel)]="item.libelle"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validTrainingLibelle}"  />
                                                    <small class='p-error' *ngIf='!validTrainingLibelle'>Libelle est obligatoire.</small>
                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="3">{{'trainingDuration' | translate}}</label>
                                                    <p-inputNumber class="mb-2 mr-2" id="3" placeholder="{{'trainingDuration' | translate}}" [(ngModel)]="item.duration"  >
                                                    </p-inputNumber>
                                                    
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="4">{{'trainingTrainingCost' | translate}}</label>
                                                    <p-inputNumber class="mb-2 mr-2" id="4" placeholder="{{'trainingTrainingCost' | translate}}" [(ngModel)]="item.trainingCost"  >
                                                    </p-inputNumber>
                                                    
                                                </div>

                                </div>
                            </p-tabPanel>
                                    <p-tabPanel header="trainingSemesters">
                                        <p-tabView [(activeIndex)]="activeTab">
                                            <p-tabPanel header="Création">
                                                    <div class="grid">
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="1">Code<span style="color: red;">*</span></label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Code"
                                                                               id="1" [(ngModel)]="semestersElement.code" autofocus  [ngClass]="{'ng-invalid ng-dirty' : !validSemestersCode}"  >
                                                                        <small class='p-error' *ngIf='!validSemestersCode'>Code est obligatoire.</small>
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="2">Libelle<span style="color: red;">*</span></label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Libelle"
                                                                               id="2" [(ngModel)]="semestersElement.libelle" autofocus  [ngClass]="{'ng-invalid ng-dirty' : !validSemestersLibelle}"  >
                                                                        <small class='p-error' *ngIf='!validSemestersLibelle'>Libelle est obligatoire.</small>
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="3">Start date</label>
                                                                        <p-calendar appendTo="body" id="3"  [showTime]="true" [showSeconds]="false" placeholder="Start date" [(ngModel)]="semestersElement.startDate"
                                                                                dateFormat="{{dateFormat}}" [showIcon]="true"  ></p-calendar>
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="4">End date</label>
                                                                        <p-calendar appendTo="body" id="4"  [showTime]="true" [showSeconds]="false" placeholder="End date" [(ngModel)]="semestersElement.endDate"
                                                                                dateFormat="{{dateFormat}}" [showIcon]="true"  ></p-calendar>
                                                                        
                                                                    </div>
                                                        <div class="field col-12 md:col-1">
                                                            <button pButton pRipple type="button" icon="pi pi-plus" class="mt-4" label="OK" (click)="addSemesters()"></button>
                                                        </div>

                                                    </div>
                                            </p-tabPanel>
                                            <p-tabPanel header="Liste {{item.semesters?.length > 0 ? '(' + item.semesters?.length + ')' : ''}}">
                                                    <div class="card">
                                                        <p-table [value]="item.semesters" [scrollable]="true" scrollHeight="200px">
                                                            <ng-template pTemplate="header">
                                                                <tr>
                                                                                <th>Code</th>
                                                                                <th>Libelle</th>
                                                                                <th>Start date</th>
                                                                                <th>End date</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </ng-template>
                                                            <ng-template pTemplate="body" let-p>
                                                                <tr>
                                                                                <td>{{p.code}}</td>
                                                                                <td>{{p.libelle}}</td>
                                                                                <td>{{p.startDate | date: dateFormatColumn}}</td>
                                                                                <td>{{p.endDate | date: dateFormatColumn}}</td>
                                                                    <td>
                                                                        <button (click)="deleteSemester(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger"></button>
                                                                        <button (click)="editSemester(p)" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                                                                    </td>
                                                                </tr>
                                                            </ng-template>
                                                        </p-table>
                                                    </div>

                                            </p-tabPanel>
                                        </p-tabView>
                                    </p-tabPanel>

                                    <p-tabPanel header="trainingStudents">
                                        <p-tabView [(activeIndex)]="activeTab">
                                            <p-tabPanel header="Création">
                                                    <div class="grid">
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="1">Cin<span style="color: red;">*</span></label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Cin"
                                                                               id="1" [(ngModel)]="studentsElement.cin" autofocus  [ngClass]="{'ng-invalid ng-dirty' : !validStudentsCin}"  >
                                                                        <small class='p-error' *ngIf='!validStudentsCin'>Cin est obligatoire.</small>
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="2">First name<span style="color: red;">*</span></label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="First name"
                                                                               id="2" [(ngModel)]="studentsElement.firstName" autofocus  [ngClass]="{'ng-invalid ng-dirty' : !validStudentsFirstName}"  >
                                                                        <small class='p-error' *ngIf='!validStudentsFirstName'>FirstName est obligatoire.</small>
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="3">Last name<span style="color: red;">*</span></label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Last name"
                                                                               id="3" [(ngModel)]="studentsElement.lastName" autofocus  [ngClass]="{'ng-invalid ng-dirty' : !validStudentsLastName}"  >
                                                                        <small class='p-error' *ngIf='!validStudentsLastName'>LastName est obligatoire.</small>
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="4">Email</label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Email"
                                                                               id="4" [(ngModel)]="studentsElement.email" autofocus   >
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="5">Phone number</label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Phone number"
                                                                               id="5" [(ngModel)]="studentsElement.phoneNumber" autofocus   >
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="6">Address</label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Address"
                                                                               id="6" [(ngModel)]="studentsElement.address" autofocus   >
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="7">Registration date</label>
                                                                        <p-calendar appendTo="body" id="7"  [showTime]="true" [showSeconds]="false" placeholder="Registration date" [(ngModel)]="studentsElement.registrationDate"
                                                                                dateFormat="{{dateFormat}}" [showIcon]="true"  ></p-calendar>
                                                                        
                                                                    </div>
                                                                    <div class="field  align-inputswitch col-12 md:col-4">
                                                                        <div  class="label-inputswitch">
                                                                            <label for="12">Graduated</label>
                                                                        </div>
                                                                        <div class="input-switch">
                                                                            <p-inputSwitch id="12"  [(ngModel)]="studentsElement.graduated"></p-inputSwitch>
                                                                        </div>
                                                                    </div>
                                                                    <div class="field col-11 md:col-3">
                                                                        <label>Diploma</label>
                                                                        <p-dropdown  appendTo="body"  [options]="diplomas" [(ngModel)]="studentsElement.diploma"
                                                                                     id="13"  [filter]="true" filterMatchMode="contains" [showClear]="true" optionLabel="id"
                                                                                     placeholder="Diploma"  >
                                                                        </p-dropdown>
                                                                        
                                                                    </div>
                                                        <div class="field col-12 md:col-1">
                                                            <button pButton pRipple type="button" icon="pi pi-plus" class="mt-4" label="OK" (click)="addStudents()"></button>
                                                        </div>

                                                    </div>
                                            </p-tabPanel>
                                            <p-tabPanel header="Liste {{item.students?.length > 0 ? '(' + item.students?.length + ')' : ''}}">
                                                    <div class="card">
                                                        <p-table [value]="item.students" [scrollable]="true" scrollHeight="200px">
                                                            <ng-template pTemplate="header">
                                                                <tr>
                                                                                <th>Cin</th>
                                                                                <th>First name</th>
                                                                                <th>Last name</th>
                                                                                <th>Email</th>
                                                                                <th>Phone number</th>
                                                                                <th>Address</th>
                                                                                <th>Registration date</th>
                                                                                <th>Graduated</th>
                                                                                <th>Diploma</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </ng-template>
                                                            <ng-template pTemplate="body" let-p>
                                                                <tr>
                                                                                <td>{{p.cin}}</td>
                                                                                <td>{{p.firstName}}</td>
                                                                                <td>{{p.lastName}}</td>
                                                                                <td>{{p.email}}</td>
                                                                                <td>{{p.phoneNumber}}</td>
                                                                                <td>{{p.address}}</td>
                                                                                <td>{{p.registrationDate | date: dateFormatColumn}}</td>
                                                                                <td><i *ngIf="p.graduated" class="pi pi-check checked-toogle"></i>
                                                                                    <i *ngIf="!p.graduated" class="pi pi-times unchecked-toogle"></i>
                                                                                </td>
                                                                            <td>{{p.diploma?.id}}</td>
                                                                    <td>
                                                                        <button (click)="deleteStudent(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger"></button>
                                                                        <button (click)="editStudent(p)" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                                                                    </td>
                                                                </tr>
                                                            </ng-template>
                                                        </p-table>
                                                    </div>

                                            </p-tabPanel>
                                        </p-tabView>
                                    </p-tabPanel>


                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-step">
                        <div style="margin-left: auto;">
                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                        </div>
                        <div>
                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>
                        </div>

                </div>
            </ng-template>



    </p-dialog>
